a:link {
    text-decoration: none;
}

.Navigation-Pill-List {
    height: 50px;
    padding: 25px 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.Navigation-Pill-List :hover {
    color: orangered;
}

.Navigation-Pill {
    height: 10px;
    width: 35px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #ededed;
}

.Navigation-Pill :hover {
    color: #1e1e1e;
}


.headfont {
    width: 50px;
    height: 10px;
    flex-grow: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

/* body section */

:root {
    --border-line: 1px solid rgba(0, 0, 0, 0);
    /* control display */
}
.blog-container {
    display: flex;
    flex-direction: column;

}

.image-container {
    display: flex;
    justify-content: center;
}

.images {
    width: 75vw;
    height: auto;
    max-height:400px;
    object-fit: contain;
}

.article-container {
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    width: 50vw;
    font-family: Arial, Helvetica, sans-serif;
}

#back-button {
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
}
.btn-dark {
    font-size: 12px;
    background-color: #ededed;
    color: rgb(0, 0, 0);
    max-width: fit-content;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.btn-dark:hover {
    color: #ededed;
    background-color: #1e1e1e;
}

@media (max-width: 768px) { 
    .article-container {
        position: relative;
        left: 50vw;
        transform: translateX(-50%);
        width: 90vw;
        /* adjust the width as needed */
    }
  }