* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    padding-left: 0px;  
    margin-left: 0px;
    margin-right: auto;
    translate: 0px;
    width: 50px
}

.Navigation-Pill-List {
    height: 70px;
    padding: 25px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.Navigation-Pill-List :hover {
    color: orangered;
}

.Navigation-Pill {
    height: 10px;
    width: 35px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #ededed;
    max-width: fit-content;
}

.Navigation-Pill :hover {
    color: #1e1e1e;
}

.headfont {
    width: 50px;
    height: 10px;
    flex-grow: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

/*hero section*/
.text-content-title {
    display: flex;
    flex-direction: column;
}

.Hero-Name {
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.7em;
    line-height: 0.1;
    letter-spacing: normal;
    text-align: center;
    color: #333;
}

.Hero-Text {
    font-family: 'Montserrat', Helvetica, Arial, 'Arial Narrow', sans-serif;
    font-size: 1.3em;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #333;
}

.dynamic-text {
    color: #f40;
}

.Hero-Description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333;
}

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: auto;
    cursor: pointer;
    animation: moveArrow 5s ease-in-out infinite;
}

@keyframes moveArrow {
    0% {top: 92%;} 10%{top: 95%;} 15%{top: 95%;} 20%{top: 95%;} 30%{top: 95%;} 40%{top: 95%;}
    50%{top: 95%;} 60%{top: 95%;} 70%{top: 95%;} 80%{top: 95%;} 90%{top: 95%;} 95%{top: 95%;} 100%{top: 92%;}
}

/*background image*/
.section {
    margin-top: 1%;
    padding: 1% 1%;
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    position: relative;
    background-image: url('https://lh3.googleusercontent.com/d/1CfqM7WSj6RkpqJq7eO7EqzC1iOxhC2RO');
    background-color: rgba(255, 255, 255, 0.689);
    background-blend-mode: lighten;
    background-position: 50% 50%;
    background-size: cover;
}
/*imgURLformat, 'https://lh3.googleusercontent.com/d/imageId'*/
/* sample image */
/* 1-EfxODCVbZ3ZT3uwomm8PYIYmXJmwAKK */
/* 1Ms__Fks9r3WJMaDnAIrLYPtjutb_Q_nF */
/* 1CfqM7WSj6RkpqJq7eO7EqzC1iOxhC2RO */

/* about-section */
.blogs-section {
    padding: 30px;
    margin-bottom: 50px;
    padding-top: 30vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.blog-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    max-width: 500px;
    font-size: 1.1em;
}

.blog-image-container {
    display: flex;
    max-width: 600px;
    min-width: auto;
    min-height: 250px;
}

.blog-image {
    translate: 0 10px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.btn-dark {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: white;
    min-width: 155px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.btn-dark:hover {
    color: #333;
    background-color: #ededed;
}

.dynamic-text-btn{
    color: orange;
}

@media only screen and (max-width: 450px) {
    .text-content-title {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .Hero-Name {
        font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: column;
        font-size: 2em;
        line-height: 0.8;
        letter-spacing: normal;
        text-align: center;
        color: #333;
    }

    .Hero-Description {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #333;
    }

    .Hero-Text {
        font-family: Helvetica, Arial, 'Arial Narrow', sans-serif;
        font-size: 1.1em;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #333;
    }
  }
