* {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.Navigation-Pill-List {
    height: 50px;
    padding: 25px 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.Navigation-Pill-List :hover {
    color: orangered;
}

.Navigation-Pill {
    height: 10px;
    width: 35px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #ededed;
    max-width: fit-content;
}

.Navigation-Pill :hover {
    color: #1e1e1e;
}

.headfont {
    width: 50px;
    height: 10px;
    flex-grow: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

/*hero section*/
.text-content-title {
    display: flex;
    flex-direction: column;
}

.Hero-Name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.1em;
    line-height: 0.1;
    letter-spacing: normal;
    text-align: center;
    color: #333;
}

.Hero-Text {
    font-family: Helvetica, Arial, 'Arial Narrow', sans-serif;
    font-size: 1.8em;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333;
}

.dynamic-text {
    color: orangered;
    /* Highlight the dynamic word with a different color */
}

.Hero-Description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333;
}

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: auto;
    cursor: pointer;
}

/*background image*/
.section {
    margin-top: 2%;
    padding: 1% 1%;
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    position: relative;
    background-image: url("https://lh3.googleusercontent.com/d/1CfqM7WSj6RkpqJq7eO7EqzC1iOxhC2RO");
    background-color: rgba(255, 255, 255, 0.689);
    background-blend-mode: lighten;
    background-position: 50% 50%;
    background-size: cover;
}


/* https://lh3.googleusercontent.com/d/ --id of the image in g drive-- */
/* ../img/img-bck-index1.png */
/* https://lh3.googleusercontent.com/pw/AP1GczO1BsRXBTsD-RXe22X8jlL5JEU34Gly40AYrRfRzWbsDM66RySwKGYiSRzqRubAR4nsCuHmmuwsvQngvUxrSNgDeq1UGGhhF6SMW6ytncfTsd7SpP8=w2400 */
/* https://lh3.googleusercontent.com/pw/AP1GczP2gemTnPlKCj50TxhyeVEvxMEWpE7l3TMnqG6MaiYABn5B9szVU4ndOwpiXPaCsiisO9n-PnyodbOfnArDIPr6nXFsUXtUA9bP8N8sSPxKF_pzd9Y=w2400 */

/* about-section */
.blogs-section {
    padding: 30px;
    margin-bottom: 50px;
    padding-top: 30vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.blog-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    max-width: 500px;
    font-size: 1.1em;
}

.blog-image-container {
    display: flex;
    max-width: 600px;
    min-width: auto;
    min-height: 250px;
}

.blog-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.btn-dark {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    background-color: #123524;
    color: white;
    min-width: 155px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.dynamic-text-btn{
    color: orange;
}

@media only screen and (max-width: 450px) {
    .text-content-title {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .Hero-Name {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: column;
        font-size: 2em;
        line-height: 0.8;
        letter-spacing: normal;
        text-align: center;
        color: #333;
    }

    .Hero-Description {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #333;
    }

    .Hero-Text {
        font-family: Helvetica, Arial, 'Arial Narrow', sans-serif;
        font-size: 0.8em;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #333;
    }
  }
